[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bash/scripts/bashmarks"]
	path = bash/scripts/bashmarks
	url = https://github.com/huyng/bashmarks
[submodule "bash/scripts/commacd"]
	path = bash/scripts/commacd
	url = https://github.com/shyiko/commacd
[submodule "python/scholar"]
	path = python/scholar
	url = https://github.com/ckreibich/scholar.py
[submodule "python/markdown-toclify"]
	path = python/markdown-toclify
	url = https://github.com/rasbt/markdown-toclify
[submodule "bash/scripts/bash_ini_parser"]
	path = bash/scripts/bash_ini_parser
	url = https://github.com/rudimeier/bash_ini_parser
[submodule "bash/scripts/spark"]
	path = bash/scripts/spark
	url = https://github.com/holman/spark
[submodule "bash/scripts/i3-reminder"]
	path = bash/scripts/i3-reminder
	url = https://github.com/Sitwon/i3-reminder
[submodule "bash/git-flow-completion"]
	path = bash/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion
