# main program
snippet prog main program (verbose)
	program ${1:main}
	!-----------------------------------------------------------------------------------------------------------------------------------
	! Code Name ${2:`Filename('', 'foo')`}
	! Author(s) ${3:`system("whoami")`}
	! Version   ${4:0.01}
	! Date      ${5:`system("date +%Y-%m-%d")`}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	${6}
	stop
	!-----------------------------------------------------------------------------------------------------------------------------------
	endprogram $1
snippet prog main program (concise)
	program ${1:main}
	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	${2}
	stop
	!-----------------------------------------------------------------------------------------------------------------------------------
	endprogram $1
# module
snippet mod module (verbose)
	module ${1:mod}
	!-----------------------------------------------------------------------------------------------------------------------------------
	! ${2:Module containing...}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	save
	private
	public:: ${3:foo}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	${4:integer}:: $3
	${5}
	!-----------------------------------------------------------------------------------------------------------------------------------
	endmodule $1
snippet mod module (concise)
	module ${1:mod}
	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	save
	private
	public:: ${2:foo}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	${3:integer}:: $2
	${4}
	!-----------------------------------------------------------------------------------------------------------------------------------
	endmodule $1
# type
snippet typed derived type definition
	type ${1:foo}
	  ${2:integer}:: ${3:a} ! ${4:Fisrt component.}
	  ${5}
	endtype $1
# function
snippet fun function definition
	function ${1:foo}(${2:in}) result(${3:out})
	!-----------------------------------------------------------------------------------------------------------------------------------
	! ${4:Function for...}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	${5:integer}, intent(IN):: $2
	${6:integer}::             $3
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	$7
	return
	!-----------------------------------------------------------------------------------------------------------------------------------
	endfunction $1
# subroutine
snippet sub subroutine definition
	subroutine ${1:foo}(${2:in},${3:out})
	!-----------------------------------------------------------------------------------------------------------------------------------
	! ${4:Subroutine for...}
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	implicit none
	${5:integer}, intent(IN)::  $2
	${6:integer}, intent(OUT):: $3
	!-----------------------------------------------------------------------------------------------------------------------------------

	!-----------------------------------------------------------------------------------------------------------------------------------
	$7
	return
	!-----------------------------------------------------------------------------------------------------------------------------------
	endsubroutine $1
# if then else
snippet if if... then... else
	if ($1) then
	  $2
	else
	  $3
	endif
